<table>
  Chart 1. The Names of the Vowel Symbols
  
  ( |
  Values Values
  Symbol Name ist ond Symbol Name re ond
  Series | Series Series | Series
  1, - sraq qaa| aa 20 9. hy sraq que | uo ue
  4 N
  2 <2 sraq qaa| aa ia 10. $= sraqqae | ae 90
  SY
  Gs: ea sraqqeq| ¢ i ll. f= sraqqie | io io
  ~N Hh ail! f
  4, = sraq qgey| ey ii 12. $- 7 |sraq qie | ie io
  Bo sraq qeq| 9° i 13. €-  |sraqqei | ei ee
  Qe |
  6 = sraq qei| oF 4a 14. $= sraqgae | ae ee
  YY
  ho= sraqqoaq| © u 15. §- |sraqqay| ay ay
  /
  8. 7 srag qou| ou uw 16. $-3 |sraqaac| 20 00
  
  | Values Values
  Symbol Name “qa Sa Symbol | Name [7% al
  Series | Series Series | Series
  LN aN | aie Teneo | MURS -+—
  ily, 3-4) sraq qaw| aw tw || 20. <2 |sraggam| am oem!
  ° |
  iif, = | sraq gom| om um || 21. —$ |sraqqah| ah eoh
  if
  °
  19. = sraq qam| am uml
  
  </table>