<table>
  Chart 2. Values of Syllabic Configurations
  
  __ Ast Series and Series
  Symbol! /iryalueland Exemplitication Value and Exemplification
  1a /oal *& Paa/ neck | /20/  & /'02/ mute
  
  2
  > Wiel) taxis /kat/ jot down | /u/ before Labial finals
  
  /
  | BIS /tup/ to stop up
  /1t0/ elsewhere
  
  !
  esas /yuel/ to under-
  stand
  
  26
  
  Cambodian System of Writing
  
  ist Series
  
  2nd Series
  
  Value and Exemplification
  
  Value and Exemplification
  
  Jal BS — /saa/ era
  
  /ay/ Bsesess /samay/ era
  
  /aal & /taa/ grand-
  ; father
  Jal AYE /iat/ to cut
  
  /ea/ in stressed syllables
  
  as S /matteg/
  
  opinion
  
  /e/ in unstressed syllables
  
  QQ ;
  PSS 05S? /keviyaa/
  Q conduct
  Jal Be /cot/ heart,
  & mind
  
  /ey/ Beran /cactdey/
  
  stupa
  
  /eh/ ArBpas /teh-diol/ to
  y ridicule
  
  Jey/ 2 /bey/ three
  >
  
  [ef BE /dek/ transport
  
  /69/ before Velar finals
  2
  059 /\éeq/ gum-lac
  
  /ca/ elsewhere (except below)
  
  ry) /tsop/ army
  /3y/ Riess /ciy/ victory
  /00/ RF /c02/ resin
  /ie/ /cia/ to be
  
  | /ce/ before Velar finals
  
  1
  BOR /téeq/ to trap
  /02/ elsewhere
  
  1
  BES /koot/ he, she,
  
  they
  /iq/ in stressed syllables
  
  Q
  OSE /latthig/ pre-
  <4 cept
  /i/ in unstressed syllables
  Q wa
  AMS —— /nition/ story
  
  /4/ (except before 255 )
  
  s & /cit/ near
  Q
  /i/ 8 g ess /qontrii/ power
  | Q
  /in/ Re /eih/ to ride
  Y
  fii] 098 /pii/ two
  &
  /3/ 8 /tik/ water
  
  The Vowel Symbols
  
  ist Series
  
  and Series
  Syme) Value and Exemplification Value and Exemplification
  —
  14.—2 |/oh/ @¢ — /ckoh/ topry
  ey &, out | vy
  15.— ji 2B (doi/ fallow | /3i/ 8 /kii/ as tol-
  lows
  ila. = /oa/ in stressed syllables /uq/ in stressed syllables
  Q
  Be /woatthoa/ 367 /wittyug/
  oy artifact 7 radio |
  /o/ in unstressed syllables /x/ in unstressed syllables
  85 /komaa/ Gawe /iculikaa/ pill
  i child | /
  1. -— |/o/ Fe /kon/ film /xf 7 /isan/ merit
  18.76 |/oh/ Be /coh/ to fob/ be /pub/ boiled
  descend u
  19, 7 /ou/ ee /kou/ to stir | /uu/ 5 /cuu/ pair |
  20.>8 |/ew/ G /trow/ correct | /iw/ £2 /néw/ consist-
  U U ing of
  21.— fuo/ SF /kua/ pod, ear | /ue/1 agg /\sua/ proper
  AL nw | Nw
  AY Se a y
  22.6- |/ac/ $85  — /hao/ it /22/ as} /chee/ wood
  v Yy
  2.$-2 |/or/ £88 /eankoh/
  chopsticks2
  24,$- 7 | /i0/ sap /ti0/ dwarfed | /#0/1 yA /ck9/ to believe
  BF) [fief —FESPEF jtiop/ vom | /ie/1 96725 /s1op/ nearly
  Ww
  2.2—- |/ei/ 398 /kei/ heritage | /ee/ $8 — /kee/ he, she,
  Q) they
  27, £- 2 | /a/ (before Palatals) /i/ (before Palatals)
  1.
  $252 —/mac/ how, TAM —/plic/ to forget
  why
  ree /cah/ to leave re) bp) /pii/ full
  28. 8-8 |/eh/ SAS /seh/ horse /ih/ BSS /nih/ this, here
  
  28 Cambodian System of Writing
  
  1st Series 2nd Series
  
  Silat! Value and Exemplification Value and Exemplification
  2 p) a
  29, §— /ae/ SR /kae/ to repair | /ce/ ce /kee/ craw (of
  a fowl)
  
  30. Re & | /eb/ Pas vt a ia
  oat
  mune ey) 1G ee salty | /3y/ 3G /priy/ forest
  32.%-2 | /ao/ PAyS /kao/ to shave | /o0/ $8) /koo/ cow, ox
  33. €-28 | /ah/ Aye /kah/ island /ueh/ WE _/kioh/ to strike
  
  34.5-9 |/aw/ $8) /taw/ bushel | /iw/ 8) /tiw/ to go
  
  | 9
  a Won) 600) faem/picce, Amy 78 | /um/ nine
  / @ morsel iW
  
  aa = Jom) f§ — /eam/exact | /um/ & —_/tum/ to perch
  
  37.0 |/am/ #7 —/cam/ to Joom/ 8 — /ccam/ bruised |
  remember |
  
  38-9 |/an/ BS /tan/ to Jeon) #52 [tedn/ all of
  establish
  
  39n = cit)||/aby, &? — /tah/ to wiggle | /eoh/ 83 ~—_/téoh/ to slap
  </table>