
## Short Vowels and Diphthongs

/i/
as in /cih/ ‘to ride’. High front unrounded short vowel, like English _i_ in _sit_.

/e/
as in /seh/ ‘horse’. Mid front unrounded short vowel, like English _e_ in _set_.

/i/[IPA]
as in /kit/[IPA] ‘to think’. High central unrounded short vowel; shorter and lower than /ii/[IPA] described above.

/ə/
as in /bət/ ‘to close’. Mid central unrounded short vowel, slightly higher than u in standard American English but.

/a/
as in /kat/ ‘to cut’, Lower-mid front-of-center unrounded short vowel, similar to French _a_ in _patte_.

/ɑ/
as in /kɑt/ ‘to jot down’. Low central unrounded short vowel, identical in quality with its long counterpart /ɑɑ/ above.

/u/
as in /tuk/ ‘to keep’. High back rounded short vowel, lower in quality than its long counterpart /uu/ described above.

/o/
as in /kon/ ‘film’. Mid back rounded short vowel, slightly diphthongized [o#][IPA] in some environments.

/neəq/[IPA]
as in /neəq/[IPA] ‘person’. Tense falling diphthong, moving from a position lower than /e/ above to a mid central position.

/luəq/[IPA]
as in /luəq/ ‘to sell’. Sometimes falling, sometimes rising, short diphthong, moving from a position somewhat lower than /u/ above to a mid central position.


/69/[IPA]
as in /k6at/[IPA] ‘3rd person pronoun’. Sometimes falling, sometimes rising, short diphthong, moving from a position slightly lower than /o/ above to a mid central position.