<table>
  Short Vowels
  
  BD yf BF
  
  Bese FC
  
  in unstressed syllables
  
  in stressed syllables
  
  unse, Pave, Pras
  wG
  
  SS SHB
  \
  
  , AD, POR
  .
  
  on Beg omen
  
  gpk
  
  ?,8
  Ny
  
  8) BAS
  
  X
  ®
  
  Q
  in unstressed syllables
  
  Q
  ® in stressed syllables
  
  8) BIR
  
  2
  
  Be aos, paves
  
  369
  
  
  Vowel 1st Series 2nd Series
  - _
  5. /a/ A-, Re
  >
  Jay! | fe, Ress, ©
  faw/| #9), =
  | fam/| 77
  |
  Jasi | PS
  /ab/ Re
  6. /u/ @ in unstressed syllables,
  9-2 9-
  i
  /ap/ Bye, a5
  /am/ B, A, BIS, OD
   7ua/ | £} in stressed syllables
  | 7% /o/ ® in unstressed syllables
  7
  Bae
  °
  /om/ *
  /oa/ | e in stressed syllables
  a ft | me
  ° a
  Jam/| %, Ai
  /
  Job/ | SAI, KAS
  /
  9. /cq/ &) = before Velar Stops
  /é00/ ad
  
  Vowel Ist Series 2nd Series
  /eeb/ Be, Ae |
  
  10. /ra, al except before Labials
  /ioh/ pane, Bar
  
  11. /o8 )_’ except before Velars
  /som/ BY
  </table>