[IPA]
<table>
Chart 1
aM
Group No. | Symbol | Name Values
| Before | First in
Vowel | Cluster | Final

VELARS te va) kaa | k k
|
2/9 Kkhaa| kh k x |
|

|
3) | ey koo | k k k
|

4 |! Vetoes] TN | ag k

5 5 noo D - Q

PALATALS be G Pee | ee ioe e c

y

eee chaa| | ch c 2

BES esa ic outa

9 | Q4F | choo) ch c -

10 (na) hoo A - A

_ SM

©


Group No. | Symbol | Name Values

Before | First in
Vowel | Cluster | Final

RETROFLEXES ih i By daa | a d t
12 3B ¢ i thaa th t t
ae

roe doo | a - t

| a | 6 thoo | th * t

15 | OA | naa | a n n

DENTALS Wag BY taa t t t
| &§ | tha] th t t

ig | f | too t t t

Sy thoo | th t | t

zone noo | n ai 3

LABIALS 21 Ly paa | b P P
22 8 phaa| ph Pp P

2a) le?) poe) | 9) P P

oa | FP | phoo) ph P P

25 i) moo m m m

MISCELLANEOUS 26

&
x
3
=
a

27

my | QU) |) tes 1 1 1

oy
4
°
3
4
1
eo



Group No. | Symbol | Name Values

Before | First in
Vowel | Cluster | Final

MISCELLANEOUS | 29
(cont.)

33. | FF | aaa q a
</table>