<table>
  Chart 2. The Two Series Contrasted
  Sound ist Series
  Symbol Example Symbol
  k a ia /kaa/ neck ® Pa /k00/ mute
  ( 1
  kh eS — /khat/ to | uss 2857 & /Khoot/ to
  . polish | prevent
  > | ¥ | an? — pmaw/noise-| Y | MP — faiow/ a xind of
  maker | clam
  |
  a Wap /eaa/toin- | © BW [eio/ be
  \ scribe
  ae | ee] so [ehaoy/in- | AS9 | £055) B/encon/ to reach
  HM | terval | out
  a | & | eM fram/tocat | o> | CY — /acom/ meat
  ~~ 7) i} cS) Y
  | salad
  |
  4 | & | 28  fon/cte- | 8 | BR /aun/ alike
  / phant com- | t
  mand
  t & & /iaa/ old man| & & /tia/ duck
  m | 8 8 (Mrow/ vase | $9 | 3S /Anaa/ relaxed
  @ | B28 — /thaan/place,| a5 | 6257 a5 /thiol/ a large
  site drum
  n On OM e853 /naay/ bored & &? e359 /niay/ chief
  So
  Bp Ws | fea
  a = /nin/) that’s
  right
  b oy 25 (@ — /bot/ son F &® — /ut/ a personal
  / / name
  ” NY VY
  3) By y /pey/ flute ” |o /pii/ from
  an || Bunions, MV piasy /ito) Fa) PN e3  /phiey/ to
  run at full circulate
  speed
  W ay Uh ‘s)
  m fos /mae/ mother|| £5 ti5 /mée/ polite
  response
  particle
  1 | ene /mat/tine,
  oat = powdered
  
  lsccnal Ist Series 2nd Series
  Symbol Example Symbol Example
  Se (ana i a
  y | a | er & fyaan/iinas | esr | ey /yton/ go
  variety (royalty) |
  ‘ 4
  TAME Nea #59) froda/ cat” hes Mpa S a) eur tcis
  \o tling noise | J U]
  a 7 ips /lein/ aper- | a5 | a4 — /teen/ to play
  sonal name |
  Pe) tp & /luen/ king | |
  | | to [Ae +
  w ? sp /way/tohit | 9 | ¢9 /wiy/ quick,
  clever
  | fn 274% — /woun/ flock,
  a SU crowd |
  \ an y
  s As AS /sey/ wicker || AF as /sii/ to eat
  ball \ (
  | Aa ek
  h > | 275 fraan/ shop, || 2 | 276 /nion/ to dare
  @ store gy
  | ie
  @ | 6) Wee /aey/what | sf | & /aii/ interjec-
  | tion
  S ge 8 i
  f | Lf) LN /f2k/ to ty LD ASS /fiizik/ physics
  i g practice J cae
  
  </table>