
<table>
  Chart 3. The Independent Vowel Symbols
  
  Symbol Name | Equivalent | value Example
  | Tost AS
  a 8 sraq qeq oS /92-/ as /gat/ not
  SX
  oF /q3-/ 8s /qintug/ the moon
  4
  NY |
  oF /aey/ Ba79 /qeylew/ now
  | S04 tel Y
  (2. ay sraqqey | oe /aey/ ppane /qeysaan/ northeast
  | | uw
  3 9 sraq qoq oS /a0-/ | 2% 67 /aokhaa/ official of
  4 | ie ministerial rank
  # Jan-/ | a) /quppomaa/ example
  
  E597 /aa0/ | 28 A5% /qacbaasag/ layman
  
  4a 2 sragqou| 6 — | /aou/ | 949 gout camel
  
  30 Cambodian System of Writing
  
  Symbol Name | Equivalent | value Example
  & /oxu/| 98 /quun/ deficient
  UT ‘i (lit.)
  5 8 srgaow| 399 | /aow/| fh /aowpuk/ father
  \ p)
  G sraq qae FSS Jaae/| © /gae/ at, as for
  | % e)
  th GP sraq day S59 /aay/ | o9r3 tn /sayrewsen/
  2 2 Erawan,
  8. 2 sraq qao 557 /qa0/ by /qaop/ to embrace
  9 @ sraqqao| S59? /qa0/ G /qaoy/ to give
  10. sraqaew| FP — | /aaw/) Bare —_/aawtriag/ water-
  | Ny Vv plant
  ie sraq rik o /ri-/ | S9 BI /vihsey/ bamboo
  Vv
  FA fap sraq ri és [ria] | 95 /v4i/ or
  ws oe
  4 NS j °
  13. 9 sraq lik as /a-/ | F098 /rumlik/ to com-
  VY a memorate
  14, 6 sraq lié as /is/ | 6 /14i/ to hear
  es 4
  
  </table>