<table>
  Chart 3. Representation of Final Consonants
  
  Final
  Consonant Representation Example
  
  1. -p Po Sepa /viep/ to arrange
     ” POM /phiep/ aspect
     » PAIN /loop/ greed
     2 +t Ss Aye [kat / to cut
     & Hye /baat/ polite response used
     by men
     Q @a 9 /praakat/ exact
     r) Aye) /aet/ brick
     Ww Wf
     2’ me /baat/ to tell, recite (clergy)
     % @ 2 /krut/ garuda
     ww
     g 192 /pramaat/ to scorn, despise
     & 79% /aaawat/ weapon
     baF FSD ASV 02S (~ FSIS) /qaasaat/
     June-July
  2. -¢ Py Se /touc/ small
     U
     Q mR /viac/ reign
  3. ~K (after vowels other than those in 5 below)
     \y
     aN RA /ciik/ to dig
  
  ® DD /ro00k/ disease
  
  22
  
  Cambodian System of Writing
  
  Final
  
  Consonant Representation Example
  
  4, -k 9 959 /nauk/ face
  255 q091s3 — /meek/ sky
  
  5. -q (after /a, aa, a, aa, 9, wo, is, 40, ue/)
  
  6.
  
  -m
  
  -n
  
  “A
  
  fait)
  
  -w
  
  eS ARS /kaaq/ refuse, residue
  ® BOS /niag/ dragon
  
  NN : :
  9 > 99 /pisaaa/ April-May
  295 as2ns /miog/ January
  @ (no consonant) after short vowels in final position
  
  NY
  
  apy /wittyug/ radio
  
  7
  £5 Ms /taam/ to follow
  ° oe G
  i a /dom/ piece; - /tum/ ripe
  6 2 °
  a oe /cam/ exact; & /tum/ to perch
  ° 3 °
  -? » /cam/vemember; f? /ecom/
  bruised
  
  & EIS /mien/ to have
  On ae ON /bouraan/ ancient
  (a) 82 6 /tian/ to pull
  a) VL
  
  > & 8 /d0n/ to know
  
  y Dy. a i 67) (after /ii/) F692 (~H) /riin/ dried up
  sy ~
  ? 579 /qaaw/ shirt
  
  7-9 fer) \_\_/haw/ to call; 187 /tiw/ to go
  The Consonant Symbols 23
  
  ii.
  
  12.
  
  13.
  
  14,
  
  Final
  Consonant
  
  ay:
  
  -1
  
  -s
  
  Representation Example
  ony res /paay/ cooked rice; food
  y y,
  f- fe /cay/ louse; G6 /priy/
  forest
  as Ros /kaal/ time
  As nya ten AS /soum-toos/ I beg your pardon
  
  (45 is pronounced as final /-s/ only in a very formal reading style;
  in normal speech it is pronounced /-h/.)
  
  '
  as a BS /cah/ old
  
  (259 /pah/ to patch; &? /tédh/ to
  slap
  (=? /reehmuk/ always represents final /-h/, and when no vowel
  
  symbol occurs, it represents /-ah/ after a 1st series consonant and
  /-€oh/ after a 2nd series consonant.)
  
  </table>