---
layout: layouts/base.njk
templateClass: tmpl-post
---


{%- for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}


{%- if collections.chapters %}
{%- set nextChapter = collections.chapters | getNextCollectionItem(page) %}
{%- set previousChapter = collections.chapters | getPreviousCollectionItem(page) %}
{%- if nextChapter or previousChapter %}
<hr>
<ul>
  {%- if nextChapter %}<li>Next: <a href="{{ nextChapter.url | url }}">{{ nextChapter.data.title }}</a></li>{% endif %}
  {%- if previousChapter %}<li>Previous: <a href="{{ previousChapter.url | url }}">{{ previousChapter.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
